In [2]:
import pandas as pd

## Hannanum 상위 50

In [6]:
df_Hannanum = pd.read_csv("df_Hannanum.csv").dropna()

temp = df_Hannanum.values.tolist()
list_Hannanum = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Hannanum.append(vocab)
series_Hannanum = pd.Series(list_Hannanum)
Hannanum_counts = series_Hannanum.value_counts()#.head(100)
Hannanum_counts[0]

22651

## Kkma 상위 50

In [7]:
df_Kkma = pd.read_csv("df_Kkma.csv").dropna()

temp = df_Kkma.values.tolist()
list_Kkma = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Kkma.append(vocab)
series_Kkma = pd.Series(list_Kkma)
Kkma_counts = series_Kkma.value_counts()#.head(100)
Kkma_counts[0]

108172

## Komoran 상위 50

In [8]:
df_Komoran = pd.read_csv("df_Komoran.csv").dropna()

temp = df_Komoran.values.tolist()
list_Komoran = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Komoran.append(vocab)
series_Komoran = pd.Series(list_Komoran)
Komoran_counts = series_Komoran.value_counts()#.head(100)
Komoran_counts[0]

91371

## Mecab 상위 50

In [13]:
df_Mecab = pd.read_csv("df_Mecab.csv").dropna()

temp = df_Mecab.values.tolist()
list_Mecab = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Mecab.append(vocab)
series_Mecab = pd.Series(list_Mecab)
Mecab_counts = series_Mecab.value_counts()#.head(100)
Mecab_counts[0]

94342

## Okt 상위 50

In [10]:
df_Okt = pd.read_csv("df_Okt.csv").dropna()

temp = df_Okt.values.tolist()
list_Okt = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Okt.append(vocab)
series_Okt = pd.Series(list_Okt)
Okt_counts = series_Okt.value_counts()#.head(100)
Okt_counts[0]

74683

## 빈도수 맞추기

In [14]:
max_freq = 0
for num in [Hannanum_counts[0], Kkma_counts[0], Komoran_counts[0], Mecab_counts[0], Okt_counts[0]]:
    if num > max_freq: max_freq = num
max_freq

108172

- Hannanum

In [55]:
if max_freq != Hannanum_counts[0]:
    ratio1 = (max_freq / Hannanum_counts[0])
    for i in range(len(Hannanum_counts)):
        Hannanum_counts[i]  = round(Hannanum_counts[i] * ratio1)
Hannanum_counts

번개장터         108172
가격            98869
사이즈           86147
판매            82675
원             63778
000           61839
m             61476
개인거래(판매),     57379
co            50406
kr            49972
bunjang       49771
나이키           48100
products      45497
판매완료          41037
티셔츠           39962
100           38639
상품            37646
제품명           34757
​             34341
제품            34198
남성            32512
L             31710
여성            28186
수             27216
M             26896
105           26815
95            26266
미사            25401
안전거래          25239
http          24704
naver         23964
자켓            23606
확인            22837
https         21581
폴             21404
com           21266
블랙            20206
남자            20057
니트            20048
외             19537
정품            19484
것             19164
XL            18047
S             17794
아디다스          17722
+가격           17694
+상품           17679
직접거래(네이버페     17517
송금            17369
브랜드           16676
dtype: int64

- Kkma

In [56]:
if max_freq != Kkma_counts[0]:
    ratio2 = (max_freq / Kkma_counts[0])
    for i in range(len(Kkma_counts)):
        Kkma_counts[i] = round(Kkma_counts[i] * ratio2)
Kkma_counts

업           108172
아노락          69499
반집           64336
판매           47507
사이즈          44238
집            41275
가격           36257
거래           31445
후드           26165
장터           25468
번개           25268
상품           24952
하프           24754
티셔츠          19978
티            19095
니트           18812
자켓           18387
미            14279
m            14028
M            13683
제품           13308
kr           12690
개인           12319
후            11869
나이키          11837
products     11745
남성           11553
블랙           11199
L            10924
기모           10802
바람막이         10747
완료           10723
반팔           10708
co           10563
bunjang      10422
패딩           10293
상태           10206
여성           10097
폴             9844
연락            9828
긴팔            9286
골프            9159
노             8737
맨투맨           8537
시             8494
배송            8461
가슴            8441
제품명           8427
키             8120
리스            8063
dtype: int64

- Komoran

In [57]:
if max_freq != Komoran_counts[0]:
    ratio3 = (max_freq / Komoran_counts[0])
    for i in range(len(Komoran_counts)):
        Komoran_counts[i] = round(Komoran_counts[i] * ratio3)
Komoran_counts

집           108172
업           107533
노            61853
락            60551
아            54623
판매           53190
사이즈          46526
가격           39833
거래           35731
상품           31426
장터           29913
번개           29675
후드           27630
제품           25620
하프           24853
반            22968
티셔츠          21552
니트           20397
나이키          19380
티            19246
m            16287
미            14413
products     13701
개인           13538
M            13203
L            12438
.co          12421
.kr          12381
폴로           12380
bunjang      12296
여성           12261
배            12111
상태           12058
완료           11817
연락           11576
반팔           11377
남성           11235
바람막이         11009
후            10969
기모           10827
긴팔           10615
송            10037
만원           10005
가슴            9734
골프            9724
리스            9696
패딩            9399
확인            9089
맨투맨           9077
블랙            9032
dtype: int64

- Mecab

In [58]:
if max_freq != Mecab_counts[0]:
    ratio4 = (max_freq / Mecab_counts[0])
    for i in range(len(Mecab_counts)):
        Mecab_counts[i] = round(Mecab_counts[i] * ratio4)
Mecab_counts

업           108172
아노락          75888
반집           72157
판매           54741
사이즈          52589
집            49335
가격           41525
거래           34876
후드           30120
장터           29215
상품           28863
번개           28809
하프           28481
제품           22911
티셔츠          22826
니트           22008
자켓           20132
나이키          19602
M            16245
m            16151
남성           14824
kr           14555
티            14227
products     13468
블랙           12910
개인           12806
L            12740
여성           12555
바람막이         12419
완료           12387
반팔           12223
co           12111
bunjang      11950
패딩           11850
폴로           11694
상태           11466
후            11398
기모           11227
연락           11216
골프           10441
배송            9962
맨투맨           9771
가슴            9511
공식            9325
남자            9129
리스            8971
확인            8802
아디            8671
안전            8635
미             8625
dtype: int64

- Okt

In [59]:
if max_freq != Okt_counts[0]:
    ratio5 = (max_freq / Okt_counts[0])
    for i in range(len(Okt_counts)):
        Okt_counts[i] = round(Okt_counts[i] * ratio5)
Okt_counts

집업       108172
판매        74159
락         73141
사이즈       62228
가격        53044
거래        45390
상품        40053
후드        37053
장터        36917
번개        36661
하프        34724
제품        31588
티셔츠       28486
니트        25076
나이키       24459
자켓        23065
원         19302
남성        18298
팔         18267
개인        17989
블랙        16040
집         15902
완료        15656
폴로        15457
티         14990
바람막이      14968
상태        14907
연락        14174
리스        13732
골프        12642
용         12603
여성        12381
가슴        12294
공식        11779
확인        11122
안전        10880
아디다스      10232
남자         9870
직접         9462
패딩         9458
브랜드        9182
더          8976
후          8737
송금         8657
기모         8525
정품         8121
노스페이스      8094
미사         7910
기능         7885
기장         7859
dtype: int64

## 자기 자신을 제외한 합집합과 비교

In [40]:
Hannanum_set = set(Hannanum_counts.index.tolist())
Kkma_set = set(Kkma_counts.index.tolist())
Komoran_set = set(Komoran_counts.index.tolist())
Mecab_set = set(Mecab_counts.index.tolist())
Okt_set = set(Okt_counts.index.tolist())

In [76]:
# 결과 Series
rst = pd.Series()

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

- Hannanum

In [67]:
union1 = list(Kkma_set | Komoran_set | Mecab_set | Okt_set)

processed_Hannanum = pd.Series()
for i in range(len(Hannanum_counts)):
    for j in range(len(union1)):
        if union1[j] in Hannanum_counts.index[i] and len(Hannanum_counts.index[i]) > len(union1[j]): 
            processed_Hannanum[Hannanum_counts.index[i]] = Hannanum_counts[i]

processed_Hannanum

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

번개장터         108172
개인거래(판매),     57379
나이키           48100
판매완료          41037
티셔츠           39962
제품명           34757
미사            25401
안전거래          25239
com           21266
XL            18047
아디다스          17722
+가격           17694
+상품           17679
직접거래(네이버페     17517
송금            17369
dtype: int64

- Kkma

In [68]:
union2 = list(Hannanum_set | Komoran_set | Mecab_set | Okt_set)

processed_Kkma = pd.Series()
for i in range(len(Kkma_counts)):
    for j in range(len(union2)):
        if union2[j] in Kkma_counts.index[i] and len(Kkma_counts.index[i]) > len(union2[j]): 
            processed_Kkma[Kkma_counts.index[i]] = Kkma_counts[i]

processed_Kkma

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

아노락    69499
반집     64336
후드     26165
티셔츠    19978
반팔     10708
연락      9828
긴팔      9286
배송      8461
제품명     8427
dtype: int64

- Komoran

In [69]:
union3 = list(Hannanum_set | Kkma_set | Mecab_set | Okt_set)

processed_Komoran = pd.Series()
for i in range(len(Komoran_counts)):
    for j in range(len(union3)):
        if union3[j] in Komoran_counts.index[i] and len(Komoran_counts.index[i]) > len(union3[j]): 
            processed_Komoran[Komoran_counts.index[i]] = Komoran_counts[i]

processed_Komoran

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

후드     27630
티셔츠    21552
나이키    19380
.co    12421
.kr    12381
폴로     12380
연락     11576
반팔     11377
긴팔     10615
만원     10005
dtype: int64

- Mecab

In [70]:
union4 = list(Hannanum_set | Kkma_set | Komoran_set | Okt_set)

processed_Mecab = pd.Series()
for i in range(len(Mecab_counts)):
    for j in range(len(union4)):
        if union4[j] in Mecab_counts.index[i] and len(Mecab_counts.index[i]) > len(union4[j]): 
            processed_Mecab[Mecab_counts.index[i]] = Mecab_counts[i]

processed_Mecab

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

아노락    75888
반집     72157
후드     30120
티셔츠    22826
나이키    19602
반팔     12223
폴로     11694
연락     11216
배송      9962
아디      8671
dtype: int64

- Okt

In [71]:
union5 = list(Hannanum_set | Kkma_set | Komoran_set | Mecab_set)

processed_Okt = pd.Series()
for i in range(len(Okt_counts)):
    for j in range(len(union5)):
        if union5[j] in Okt_counts.index[i] and len(Okt_counts.index[i]) > len(union5[j]): 
            processed_Okt[Okt_counts.index[i]] = Okt_counts[i]

processed_Okt

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

집업       108172
후드        37053
티셔츠       28486
나이키       24459
폴로        15457
연락        14174
아디다스      10232
송금         8657
노스페이스      8094
미사         7910
dtype: int64

In [77]:
rst = pd.concat([processed_Hannanum, processed_Kkma, processed_Komoran, processed_Mecab, processed_Okt])
rst

번개장터         108172
개인거래(판매),     57379
나이키           48100
판매완료          41037
티셔츠           39962
제품명           34757
미사            25401
안전거래          25239
com           21266
XL            18047
아디다스          17722
+가격           17694
+상품           17679
직접거래(네이버페     17517
송금            17369
아노락           69499
반집            64336
후드            26165
티셔츠           19978
반팔            10708
연락             9828
긴팔             9286
배송             8461
제품명            8427
후드            27630
티셔츠           21552
나이키           19380
.co           12421
.kr           12381
폴로            12380
연락            11576
반팔            11377
긴팔            10615
만원            10005
아노락           75888
반집            72157
후드            30120
티셔츠           22826
나이키           19602
반팔            12223
폴로            11694
연락            11216
배송             9962
아디             8671
집업           108172
후드            37053
티셔츠           28486
나이키           24459
폴로            15457
연락            14174
아디다스          10232
송금             8657
노스페이스          8094
미사             7910
dtype: int64

In [79]:
'번개장터' in rst.index

True