## Mecab

In [1]:
import pandas as pd
original  = pd.read_csv('df_Mecab.csv', encoding = "utf8")
df = original.dropna(axis = 0).reset_index()
del(df['index'])
df.columns = ['text']

list1 = []
for sen in df['text']:
    for vocab in sen.split():
        list1.append(vocab)
        
set1 = set(list1)
len(set1)

35850

## Komoran

In [2]:
import pandas as pd
original2  = pd.read_csv('df_Komoran.csv', encoding = "utf8")
df2 = original2.dropna(axis = 0).reset_index()
del(df2['index'])
df2.columns = ['text']

list2 = []
for sen in df2['text']:
    for vocab in sen.split():
        list2.append(vocab)
        
set2 = set(list2)
len(set2)

31027

## Kkma

In [3]:
import pandas as pd
original3  = pd.read_csv('df_Kkma.csv', encoding = "utf8")
df3 = original3.dropna(axis = 0).reset_index()
del(df3['index'])
df3.columns = ['text']

list3 = []
for sen in df3['text']:
    for vocab in sen.split():
        list3.append(vocab)
        
set3 = set(list3)
len(set3)

36951

## Okt

In [4]:
import pandas as pd
original4  = pd.read_csv('df_Okt.csv', encoding = "utf8")
df4 = original4.dropna(axis = 0).reset_index()
del(df4['index'])
df4.columns = ['text']

list4 = []
for sen in df4['text']:
    for vocab in sen.split():
        list4.append(vocab)
        
set4 = set(list4)
len(set4)

29880

## Hannanum

In [5]:
import pandas as pd
original5  = pd.read_csv('df_Hannanum.csv', encoding = "utf8")
df5 = original5.dropna(axis = 0).reset_index()
del(df5['index'])
df5.columns = ['text']

list5 = []
for sen in df5['text']:
    for vocab in sen.split():
        list5.append(vocab)
        
set5 = set(list5)
len(set5)

197565

## 교집합

In [6]:
intersection = set1&set2&set3&set4&set5
print(len(intersection))

7857

In [7]:
intersection

{'구명',
 '추',
 '자금',
 '송',
 '시트',
 '에누리',
 '준',
 '유출',
 '경수',
 '할아버지',
 '마켓',
 '곰돌이',
 '플레이오프',
 '동화',
 '순수',
 '성격',
 '피어싱',
 '자태',
 '사냥',
 '거실',
 '사카이',
 '바',
 '구단주',
 '구호',
 '팁',
 '원산지',
 '기후',
 '크리스찬',
 '니제르',
 '윙스',
 '통역',
 '김석주',
 '활약',
 '소유자',
 '중앙',
 '대작',
 '세',
 '아저씨',
 '메시지',
 '계산',
 '특급',
 '극찬',
 '스스키노',
 '굴',
 '리프',
 '포',
 '우승자',
 '랠리',
 '트윗',
 '동래구',
 '삼천포',
 '고딕',
 '지지',
 '숨',
 '별빛',
 '모습',
 '수분',
 '계통',
 '첫인상',
 '종양학',
 '업데이트',
 '깡패',
 '경',
 '자주색',
 '화근',
 '고심',
 '다비드',
 '시세',
 '프리즈',
 '토너',
 '강북',
 '단행',
 '청담',
 '네이비',
 '기업',
 '공식',
 '펌프스',
 '아토',
 '준비',
 '심복',
 '상급',
 '컬럼비아',
 '테이프',
 '모닝',
 '출시',
 '과목',
 '잭',
 '아침',
 '염소',
 '상설',
 '실크',
 '기획',
 '요건',
 '캡',
 '데이터',
 '확정',
 '첼시',
 '단기간',
 '하늘나라',
 '니야',
 '초반',
 '강북구',
 '수입',
 '임산부',
 '멸망',
 '제트',
 '이슈',
 '제일',
 '이야기',
 '메인',
 '얘',
 '식단',
 '뇌혈관',
 '우전',
 '액',
 '나침반',
 '참가자',
 '방향',
 '팝송',
 '패션',
 '검은색',
 '조성',
 '경축',
 '클럽',
 '무대',
 '어항',
 '크로스',
 '부합',
 '뒤',
 '가미',
 '나우',
 '패키지',
 '한국사',
 '패션쇼',
 '캡처',
 '기욤',
 '활동',
 '프롬',
 '점',
 '스톤',
 '구름',
 '황산',
 '그것',
 '운영',
 '웃옷',
 '혜원',
 '설명',
 '카툰',
 '후퇴',
 '음성군',
 '화물',
 '착색',
 '의지',
 '테니스',
 '관여',
 '멜리사',
 '루머',
 '자이언트',
 '숙지',
 '카프',
 '당분',
 '팔달구',
 '난리',
 '차림',
 '개통',
 '따님',
 '코르셋',
 '일괄',
 '마운틴',
 '먹거리',
 '공중',
 '경사',
 '합산',
 '소득',
 '스포츠',
 '논란',
 '유형',
 '위켄드',
 '서부',
 '나머지',
 '악동',
 '에센스',
 '막차',
 '기적',
 '시술',
 '설탕',
 '꽃샘',
 '오염',
 '내포',
 '안전',
 '유효',
 '특정',
 '넥센',
 '올스타',
 '보령시',
 '나날',
 '브런치',
 '지옥',
 '총알',
 '탱고',
 '실제',
 '구명조끼',
 '품격',
 '달력',
 '삼성',
 '개념',
 '쿠폰',
 '여학생',
 '농구',
 '간장',
 '제너',
 '형상',
 '엑셀',
 '감성',
 '부원동',
 '김도연',
 '과제',
 '금반지',
 '금지법',
 '버피',
 '돈',
 '봄밤',
 '로프',
 '프리미엄',
 '북극',
 '도심',
 '케이',
 '장남',
 '동성로',
 '하마',
 '춘절',
 '성북구',
 '라운지',
 '출입',
 '스피너',
 '코멘트',
 '주의보',
 '올인원',
 '트랙',
 '도천동',
 '역촌동',
 '여행기',
 '연출',
 '환상',
 '깨알',
 '땡볕',
 '칠판',
 '플랩',
 '보보',
 '졸업식',
 '구급차',
 '지향',
 '시공사',
 '콜렉션',
 '대망',
 '꽃',
 '애교',
 '유아',
 '논리',
 '발걸음',
 '공통',
 '동두천시',
 '독점',
 '정의',
 '고양',
 '아나운서',
 '별꽃',
 '의술',
 '매너',
 '강수',
 '열정',
 '연초',
 '다트',
 '건망증',
 '리딩',
 '진행',
 '근로자',
 '제시',
 '마유',
 '인턴',
 '판타스틱',
 '쌍수',
 '결제',
 '심장',
 '이승연',
 '연애담',
 '맥주',
 '지탄',
 '수박',
 '건어물',
 '체격',
 '직장인',
 '미대',
 '나발',
 '매출',
 '함유량',
 '장착',
 '한마디',
 '원고',
 '시월',
 '군화',
 '브라더스',
 '오링',
 '뒷방',
 '발리',
 '한국어',
 '이미지',
 '먹구름',
 '사조',
 '둥지',
 '션',
 '홍성군',
 '범퍼',
 '전매',
 '물결',
 '담당자',
 '스트레이트',
 '완비',
 '미국',
 '상급자',
 '혓바닥',
 '짬',
 '노트북',
 '스펠링',
 '옥수수',
 '본디',
 '샤넬',
 '본문',
 '조율',
 '예약금',
 '퍼프',
 '예방',
 '고구마',
 '모순',
 '출발',
 '스케줄',
 '블레이드',
 '뒤꿈치',
 '슈퍼마켓',
 '대설',
 '주제',
 '사망',
 '방학',
 '마네킹',
 '마산',
 '환호',
 '개',
 '초인종',
 '탈모',
 '프리미어',
 '처방',
 '오므라이스',
 '볼트',
 '면전',
 '전화',
 '회피',
 '도복',
 '여담',
 '연상',
 '스케치',
 '컬렉션',
 '책상',
 '낭비',
 '저력',
 '한국인',
 '쇼지',
 '희소성',
 '폭발',
 '도록',
 '동명동',
 '타자',
 '그레이드',
 '공구',
 '고무장갑',
 '남해',
 '철조망',
 '시전',
 '수',
 '공공',
 '수출',
 '포유',
 '마련',
 '주변',
 '겁',
 '김칫국',
 '옥동',
 '고슴도치',
 '옆구리',
 '보험료',
 '인대',
 '장가',
 '아크릴',
 '양다리',
 '양주',
 '영역',
 '다이어리',
 '현금',
 '연습장',
 '백악관',
 '마라톤',
 '쟤',
 '반쪽',
 '양복',
 '레드',
 '민트',
 '독',
 '세제',
 '종대',
 '로데오',
 '구연',
 '한정판',
 '재단',
 '도전',
 '일치',
 '밥그릇',
 '미스터리',
 '티셔츠',
 '마스코트',
 '베트남',
 '평수',
 '비산동',
 '엄지',
 '성주',
 '견학',
 '차림새',
 '커프스',
 '위',
 '시럽',
 '아이스',
 '보드',
 '임박',
 '민생',
 '변경',
 '정호',
 '플라이트',
 '마트',
 '실습',
 '켈로그',
 '미정',
 '고용',
 '퍼레이드',
 '버드',
 '이탄',
 '입학식',
 '승려',
 '옴므',
 '런닝',
 '기겁',
 '몸뚱이',
 '하루하루',
 '총장',
 '머리카락',
 '장례',
 '브라질',
 '우호',
 '기회',
 '시계',
 '차세대',
 '마스크',
 '동영상',
 '기둥',
 '가까이',
 '레포트',
 '존경',
 '촌뜨기',
 '평년',
 '사유',
 '슈프림',
 '명칭',
 '충주',
 '으',
 '검술',
 '펠트',
 '아돌프',
 '간증',
 '오토',
 '어머니',
 '팔찌',
 '책자',
 '은하',
 '고마움',
 '세탁',
 '대륙',
 '스팸',
 '더블유',
 '정진각',
 '트렁크',
 '풍산',
 '솔트',
 '필요',
 '베이컨',
 '끝',
 '외투',
 '한정',
 '시보',
 '타임',
 '소이',
 '디렉터',
 '정우',
 '불행',
 '습관',
 '종영',
 '주월동',
 '마블링',
 '상',
 '항',
 '리트',
 '미로',
 '서커스',
 '적색',
 '세인트',
 '메모',
 '피자',
 '답변',
 '포항시',
 '통과',
 '정제',
 '도스',
 '농담',
 '건성',
 '현기증',
 '중독',
 '미필',
 '우진',
 '파인트',
 '빗물',
 '파란색',
 '사기',
 '창고',
 '우석',
 '한라',
 '흥미',
 '행신동',
 '신생아',
 '오예',
 '불가사의',
 '정상',
 '봉신',
 '파리스',
 '의령군',
 '부지런',
 '급료',
 '문신',
 '드래곤',
 '보헤미안',
 '실속',
 '오드',
 '추석',
 '전생',
 '형식',
 '프레이',
 '견',
 '풍경',
 '판타지',
 '원색',
 '영어',
 '길이',
 '사실',
 '예원',
 '마이',
 '우편',
 '오피스',
 '힌트',
 '정품',
 '제복',
 '거금',
 '연습',
 '살맛',
 '초보',
 '예비군',
 '몽블랑',
 '데미안',
 '안구',
 '치아',
 '도리',
 '롬',
 '그',
 '잠시',
 '내장',
 '교양',
 '재능',
 '경험',
 '강정',
 '욕심',
 '모델',
 '복사',
 '꼬막',
 '추세',
 '노래방',
 '태블릿',
 '합의',
 '합계',
 '놀이터',
 '시범',
 '인증',
 '목',
 '라이너',
 '납치',
 '약물',
 '수습',
 '페인팅',
 '짐승',
 '용서',
 '유니폼',
 '공병',
 '아줌마',
 '헌팅',
 '오목',
 '툰드라',
 '밥집',
 '몸무게',
 '모직',
 '이웃',
 '부두',
 '개띠',
 '건국',
 '이은상',
 '금요일',
 '점령',
 '철',
 '처분',
 '교회',
 '소리',
 '하니',
 '가동',
 '기온',
 '구색',
 '블로킹',
 '문자',
 '정현',
 '용건',
 '가로',
 '팬시',
 '수정구',
 '보류',
 '본사',
 '가이드라인',
 '소모',
 '안목',
 '고양시',
 '링크스',
 '누구',
 '통영',
 '뚱보',
 '혼',
 '바깥쪽',
 '백',
 '이승훈',
 '손톱',
 '토대',
 '터틀넥',
 '대다수',
 '사진',
 '인생',
 '유틸리티',
 '사업자',
 '영해',
 '불국사',
 '자재',
 '공대',
 '소란',
 '망토',
 '화정동',
 '소독',
 '켄터키',
 '유람선',
 '일색',
 '바게트',
 '단절',
 '오누이',
 '수시',
 '창해',
 '보성',
 '베이직',
 '결석',
 '구두',
 '소렌토',
 '일주',
 '승희',
 '통로',
 '해금',
 '의문',
 '연구',
 '사춘기',
 '시중',
 '원칙',
 '네온',
 '찬송',
 '충주시',
 '헬싱키',
 '정면',
 '모델링',
 '사시',
 '루비',
 '은퇴',
 '앞장',
 '규',
 '시비',
 '본연',
 '공개',
 '경례',
 '손',
 '학생증',
 '버프',
 '철벽',
 '연제구',
 '너',
 '헤론',
 '가위바위보',
 '페덱스',
 '생각',
 '시체',
 '옷감',
 '상주시',
 '타르트',
 '당뇨',
 '교정',
 '옌스',
 '멍',
 '가늠',
 '의심',
 '현',
 '선착순',
 '배치',
 '펭귄',
 '취업',
 '운행',
 '시프트',
 '다짐',
 '서연',
 '온도',
 '렌',
 '액체',
 '투명',
 '신규',
 '라비',
 '동작구',
 '영화관',
 '빙판',
 '현지',
 '시작',
 '건물',
 '신축',
 '정식',
 '품절',
 '해장',
 '자료',
 '나폴리',
 '크루',
 '고양이',
 '그리스',
 '유린',
 '밤비',
 '후속',
 '이국',
 '누리',
 '표백제',
 '돌하르방',
 '팔뚝',
 '명목',
 '이색',
 '한국',
 '몰드',
 '우측',
 '회계',
 '노트',
 '피터',
 '투표',
 '입사',
 '나이',
 '술버릇',
 '표범',
 '용품',
 '통화',
 '렉스',
 '값',
 '민망',
 '바운스',
 '렌트',
 '경지',
 '보일러',
 '후기',
 '오시',
 '동갑',
 '작살',
 '겁쟁이',
 '고전',
 '아이비',
 '캠프',
 '비법',
 '변기',
 '당첨',
 '협박',
 '머',
 '특명',
 '인테리어',
 '훈풍',
 '코시',
 '미역국',
 '야구',
 '류',
 '출근길',
 '제조',
 '술집',
 '기원',
 '택일',
 '월드컵',
 '별거',
 '사기죄',
 '무주',
 '번호판',
 '출결',
 '부산진구',
 '야채',
 '사례',
 '러브러브',
 '보수동',
 '효',
 '슈트',
 '역사',
 '은행',
 '편견',
 '여분',
 '피부',
 '슈퍼스타',
 '플라자',
 '후불',
 '태종대',
 '도버',
 '이진',
 '병아리',
 '임',
 '사절',
 '추천',
 '문래동',
 '탁자',
 '구형',
 '부실',
 '탄환',
 '출연료',
 '펠릭스',
 '손실',
 '숙주',
 '인사',
 '홍학',
 '햇살',
 '스컬',
 '조경',
 '보카',
 '메가폰',
 '에버랜드',
 '유원',
 '다운로드',
 '깔깔이',
 '어린이',
 '포르테',
 '이내',
 '끈기',
 '노예',
 '패드',
 '카무플라주',
 '슬로프',
 '대용',
 '고구려',
 '체중',
 '단점',
 '사목',
 '스타워즈',
 '전용',
 '이튿날',
 '확산',
 '회사',
 '명당',
 '몸살',
 '매니아',
 '십상',
 '마녀',
 '주소',
 '범위',
 '마이크',
 '머리',
 '실시',
 '용기',
 '수영복',
 '수학',
 '중단',
 '사월',
 '노을',
 '주중',
 '광고',
 '몽상',
 '부동',
 '형부',
 '디너쇼',
 '폭주',
 '인구',
 '훈련',
 '레플리카',
 '추위',
 '곁',
 '믹스',
 '회사원',
 '유일',
 '동그라미',
 '워밍업',
 '결재',
 '내복',
 '씨',
 '직관',
 '증빙',
 '비즈',
 '차원',
 '석',
 '조',
 '아베',
 '새틴',
 '서클',
 '부동산',
 '게스',
 '고스',
 '양재역',
 '아일랜드',
 '바가지',
 '한가위',
 '파크',
 '거기',
 '버건',
 '미끄럼틀',
 '천국',
 '지방시',
 '시',
 '신검',
 '유달산',
 '취직',
 '아마추어',
 '시초',
 '랜드',
 '콤마',
 '자격시험',
 '매점',
 '공기업',
 '이태준',
 '불편',
 '농',
 '생기',
 '파도',
 '유미',
 '요',
 '배열',
 '외할머니',
 '최강',
 '규모',
 '최초',
 '개똥',
 '윤',
 '재현',
 '증정',
 '한솔',
 '은빛',
 '어깨',
 '전설',
 '삼각형',
 '중형',
 '고등학교',
 '칼날',
 '블라우스',
 '램',
 '오창석',
 '루돌프',
 '꼬마',
 '관세',
 '자극',
 '포츠담',
 '구분',
 '빨래',
 '오케이',
 '제철',
 '릴레이',
 '오라버니',
 '신뢰',
 '해리슨',
 '고가',
 '오리',
 '예의',
 '선심',
 '우리',
 '아이콘',
 '윈드',
 '직책',
 '석유',
 '휘경동',
 '완구',
 '발차기',
 '제약',
 '프린지',
 '영덕',
 '삼척시',
 '발탁',
 '기쁨',
 '심플',
 ...}

## 교집합 단어별 빈도 수

In [8]:
import pandas as pd

In [9]:
df_Hannanum = pd.read_csv("df_Hannanum.csv").dropna()

temp = df_Hannanum.values.tolist()
list_Hannanum = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Hannanum.append(vocab)
series_Hannanum = pd.Series(list_Hannanum)
Hannanum_counts = series_Hannanum.value_counts()
Hannanum_counts

번개장터     22651
가격       20703
사이즈      18039
판매       17312
원        13355
         ...
올여름나         1
베터카인드        1
숯불주문         1
#MMK         1
새제품이구        1
Length: 197565, dtype: int64

In [10]:
df_Kkma = pd.read_csv("df_Kkma.csv").dropna()

temp = df_Kkma.values.tolist()
list_Kkma = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Kkma.append(vocab)
series_Kkma = pd.Series(list_Kkma)
Kkma_counts = series_Kkma.value_counts()
Kkma_counts

업          108172
아노락         69499
반집          64336
판매          47507
사이즈         44238
            ...
KINGS           1
히치              1
konbosa         1
9438-01         1
노와              1
Length: 36951, dtype: int64

In [11]:
df_Komoran = pd.read_csv("df_Komoran.csv").dropna()

temp = df_Komoran.values.tolist()
list_Komoran = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Komoran.append(vocab)
series_Komoran = pd.Series(list_Komoran)
Komoran_counts = series_Komoran.value_counts()
Komoran_counts

집         91371
업         90831
노         52246
락         51146
아         46139
          ...
400년          1
청산리           1
우호            1
oSzOL         1
qQalpD        1
Length: 31027, dtype: int64

In [12]:
df_Mecab = pd.read_csv("df_Mecab.csv").dropna()

temp = df_Mecab.values.tolist()
list_Mecab = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Mecab.append(vocab)
series_Mecab = pd.Series(list_Mecab)
Mecab_counts = series_Mecab.value_counts()
Mecab_counts

업         94342
아노락       66186
반집        62932
판매        47742
사이즈       45865
          ...
애곡            1
산품            1
상속            1
최조            1
xAGdUV        1
Length: 35850, dtype: int64

In [13]:
df_Okt = pd.read_csv("df_Okt.csv").dropna()

temp = df_Okt.values.tolist()
list_Okt = []
for sentence in temp:
    temp2 = sentence[0].split()
    for vocab in temp2:
        list_Okt.append(vocab)
series_Okt = pd.Series(list_Okt)
Okt_counts = series_Okt.value_counts()
Okt_counts

집업        74683
판매        51200
락         50497
사이즈       42963
가격        36622
          ...
패러글라이딩        1
일색            1
개날            1
어패럴사          1
쭉벼            1
Length: 29880, dtype: int64

In [14]:
# type(Okt_counts.index[1])

In [15]:
# Mecab_counts.index[3]

In [16]:
# print('판매' in intersection)

In [17]:
# intersection[0] in Mecab_counts

In [18]:
intersection = list(intersection)

In [19]:
# Mecab_counts[intersection[0]]

In [20]:
vocab_freq = pd.DataFrame(intersection)
vocab_freq = vocab_freq.rename(columns={0:'vocab'})
vocab_freq

     vocab
0       구명
1        추
2       자금
3        송
4       시트
...    ...
7852    활용
7853    가입
7854    부족
7855    확장
7856    선상

[7857 rows x 1 columns]

In [21]:
vocab_freq[['Hannanum', 'Kkma', 'Komoran', 'Mecab', 'Okt']] = 0

In [22]:
vocab_freq

     vocab  Hannanum  Kkma  Komoran  Mecab  Okt
0       구명         0     0        0      0    0
1        추         0     0        0      0    0
2       자금         0     0        0      0    0
3        송         0     0        0      0    0
4       시트         0     0        0      0    0
...    ...       ...   ...      ...    ...  ...
7852    활용         0     0        0      0    0
7853    가입         0     0        0      0    0
7854    부족         0     0        0      0    0
7855    확장         0     0        0      0    0
7856    선상         0     0        0      0    0

[7857 rows x 6 columns]

In [23]:
vocab_freq['vocab'][0]

'구명'

In [25]:
Mecab_counts['구명']

1

In [26]:
for i in range(len(vocab_freq)):
    word = vocab_freq['vocab'][i]
    vocab_freq['Hannanum'][i] = Hannanum_counts[word]
vocab_freq

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     vocab  Hannanum  Kkma  Komoran  Mecab  Okt
0       구명         1     0        0      0    0
1        추       312     0        0      0    0
2       자금        40     0        0      0    0
3        송        13     0        0      0    0
4       시트         2     0        0      0    0
...    ...       ...   ...      ...    ...  ...
7852    활용       320     0        0      0    0
7853    가입        61     0        0      0    0
7854    부족        11     0        0      0    0
7855    확장         1     0        0      0    0
7856    선상         1     0        0      0    0

[7857 rows x 6 columns]

In [27]:
for i in range(len(vocab_freq)):
    word = vocab_freq['vocab'][i]
    vocab_freq['Kkma'][i] = Kkma_counts[word]
    
for i in range(len(vocab_freq)):
    word = vocab_freq['vocab'][i]
    vocab_freq['Komoran'][i] = Komoran_counts[word]
    
for i in range(len(vocab_freq)):
    word = vocab_freq['vocab'][i]
    vocab_freq['Mecab'][i] = Mecab_counts[word]
    
for i in range(len(vocab_freq)):
    word = vocab_freq['vocab'][i]
    vocab_freq['Okt'][i] = Okt_counts[word]
    
vocab_freq

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

     vocab  Hannanum  Kkma  Komoran  Mecab  Okt
0       구명         1     1        1      1    1
1        추       312   319      400     55  479
2       자금        40   238      238    238  238
3        송        13   435     8478     46   25
4       시트         2    10       13      9    8
...    ...       ...   ...      ...    ...  ...
7852    활용       320   446      466    569  490
7853    가입        61   144      189    148  201
7854    부족        11    27       30     30    4
7855    확장         1     4        4      4    4
7856    선상         1     6        1      6    1

[7857 rows x 6 columns]

In [28]:
vocab_freq['Total'] = 0
vocab_freq

     vocab  Hannanum  Kkma  Komoran  Mecab  Okt  Total
0       구명         1     1        1      1    1      0
1        추       312   319      400     55  479      0
2       자금        40   238      238    238  238      0
3        송        13   435     8478     46   25      0
4       시트         2    10       13      9    8      0
...    ...       ...   ...      ...    ...  ...    ...
7852    활용       320   446      466    569  490      0
7853    가입        61   144      189    148  201      0
7854    부족        11    27       30     30    4      0
7855    확장         1     4        4      4    4      0
7856    선상         1     6        1      6    1      0

[7857 rows x 7 columns]

In [29]:
for i in range(len(vocab_freq)):
    vocab_freq['Total'][i] = vocab_freq['Hannanum'][i] + vocab_freq['Kkma'][i] 
    + vocab_freq['Komoran'][i] + vocab_freq['Mecab'][i] + vocab_freq['Okt'][i]

c:\users\rhakt\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
vocab_freq

     vocab  Hannanum  Kkma  Komoran  Mecab  Okt  Total
0       구명         1     1        1      1    1      2
1        추       312   319      400     55  479    631
2       자금        40   238      238    238  238    278
3        송        13   435     8478     46   25    448
4       시트         2    10       13      9    8     12
...    ...       ...   ...      ...    ...  ...    ...
7852    활용       320   446      466    569  490    766
7853    가입        61   144      189    148  201    205
7854    부족        11    27       30     30    4     38
7855    확장         1     4        4      4    4      5
7856    선상         1     6        1      6    1      7

[7857 rows x 7 columns]

In [34]:
vocab_freq.sort_values(by=['Total'], axis=0, ascending=False)

     vocab  Hannanum    Kkma  Komoran  Mecab    Okt   Total
3371     업        45  108172    90831  94342   3118  108217
2313    판매     17312   47507    44929  47742  51200   64819
4851   사이즈     18039   44238    39300  45865  42963   62277
3626    가격     20703   36257    33646  36216  36622   56960
2266     집       434   41275    91371  43027  10979   41709
...    ...       ...     ...      ...    ...    ...     ...
4485  닥스훈트         1       1        1      2      2       2
4482    허탕         1       1        1      1      1       2
4479   미끄럼         1       1        2      3      3       2
4472   사무직         1       1        1      1      1       2
3928    교시         1       1        2      1     16       2

[7857 rows x 7 columns]